.index-wrpper
  = render "homes/header2"
  = form_with url: tweets_searches_path, method: :get, local: true do |f|
    = f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
    = f.submit "検索", class: "searchbtn"
  .search-result
    %span.search-result-example 検索結果
    = params[:keyword]
  .index-contentbox
    - @tweets.each do|tweet|
      .index-contentwrpper
        .index-contentheader
          = image_tag tweet.user.image.url, class: "hesder-userimage"
          .header-username
            = tweet.user.name
          = link_to "詳細", tweet_path(tweet.id), class: "show-btn"
        = image_tag tweet.picture.url, class: "index-contentimage"
        .index-contenttext
          = tweet.text