.tweets-wrpper
  = render "homes/header"
  .tweets-header
    投稿フォーム
  .tweets-formbox
    = form_with model: @tweet, method: :post, local: true do |f|
      %p.tweets-text 写真
      = f.file_field :picture, type: 'file', autocomplete: "picture"
      %p.tweets-text 投稿内容
      = f.text_area :text, class: "tweets-area"
      = f.submit "投稿", class: "tweets-btn"