.tweetshow-wrpper
  = render "homes/header2"
  .tweetshow-box
    .tweetshow-header
      = image_tag @tweet.user.image.url, class: "tweetshow-userimage"
      .tweetshow-username
        = @tweet.user.name
    = image_tag @tweet.picture.url, class: "tweetshow-contentimage"
    .tweetshow-contenttext
      = @tweet.text
    .likebox
      - if Like.find_by(user_id: current_user.id, tweet_id: @tweet_id)
        = link_to tweet_like_path(@tweet_id), method: :delete do
          %i.fas.fa-heart.goot-btn
      - else
        = link_to tweet_likes_path(@tweet_id), method: :post do
          %i.fas.fa-heart.nogoot-btn
      .likecount
        = @like_count

  .comment-formbox
    = form_with model: @comment, url: tweet_comments_path(@tweet.id), method: :post, local: true do |f|
      = f.text_area :comment, class: "commentbox", placeholder: "コメントする", id: "textarea"
      - if @comment.errors[:comment].any?
        .error-message-tweet-text
          文字を入力してください
      = f.submit "送信", class: "comment-btn"
  .comment-listcontainer
    - @comments.each do|comment|
      .comment-listbox
        .comment-listheader
          = image_tag comment.user.image.url, class: "comment-userimage"
          .comment-username
            = comment.user.name
        .comment-box
          = comment.comment