.show-wrpper
  = render "homes/header"
  .show-header
    .show-userimage
      = image_tag @user.image.url, class: "image"
    .show-username
      = current_user.name
      = link_to "編集", edit_user_path(current_user.id), class: "edit"
  .index-contentbox
    - @user_tweets_view.each do|tweet|
      .index-contentwrpper
        .index-contentheader
          = image_tag tweet.user.image.url, class: "hesder-userimage"
          .header-username
            = tweet.user.name
          .content-show
            = link_to "削除", tweet_path(tweet.id), method: :delete
        = image_tag tweet.picture.url, class: "index-contentimage"
        .index-contenttext
          = tweet.text