.signup-wrpper
  .signup-header
    sign-up
  .signup-box
    = form_with model: @user, url: registration_path(resource_name), local: true do |f|
      %p.signup-text email
      = f.email_field :email, autocomplete: "email",placeholder: "email", class: "signupfield"
      %p.signup-text password
      = f.password_field :password, autocomplete: "password",placeholder: "７文字以上の半角英数字", class: "signupfield"
      %p.signup-text 確認password
      = f.password_field :encrypted_password, autocomplete: "encrypted_password",placeholder: "再度パスワード入力", class: "signupfield"
      %p.signup-text name
      = f.text_field :name, autocomplete: "name", placeholder: "name", class: "signupfield"
      = f.submit "登録", class: "submit"